.wp-block-groundworx-gutenberg-gravity-forms {
   
    &.has-progressbar-background-color {
        
    }
    &.has-progressbar-foreground-color {
        
    }
    

    //--form--checkbox-radio--background: #ffffff;
    //--form--checkbox-radio--background--selected: #007cba;
}