body {
    --form--labels: currentColor;
    --form--labels--required: currentColor;
    
    --form--input--text: #343434;
    --form--input--background: #ffffff;
    --form--input--focus--color: #007cba;

    --form--input--border--color: #aaaaaa;
    --form--input--border--style: solid;
    --form--input--border--width: 0.075em;
    --form--input--border--radius: 0px;
    
    --form--input--padding-x: 0.35em;
    --form--input--padding-y: 0.5em;
    --form--input--lineheight: inherit;
    
    --form--select--arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7.41'> <path d='M10.02,6,8.61,7.41,13.19,12,8.61,16.59,10.02,18l6-6Z' transform='translate(18 -8.61) rotate(90)' fill='rgb(52, 52, 52)'/></svg>");
    --form--select--arrow--width: .95em;

    --form--checkbox-radio--text: #ffffff;
    --form--checkbox-radio--background: #007cba;

    --form--progressbar--background: #cdcdcd;
    --form--progressbar--foreground: #007cba;
    --form--progressbar--foreground--text: #ffffff;
}

:root .gform_wrapper.gravity-theme,
[data-form-theme="gravity-theme"],
* {
  form {
    fieldset {
      padding: 0;
      margin: 0;
      border: 0;
    }

    legend,
    label {
      padding: 0;
    }
  }

  // Shared input types
  [type='text'],
  input:not([type]),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @include form-input;
    &:focus {
      @include form-input-focus;
    }
  }

  // Specific: select (dropdown)
  select {
    @include form-select;
  }

  // Specific: multi-select
  [multiple][size]:not([size="1"]) {
    @include form-input;
  }

  // Specific: textarea
  textarea {
    @include form-input;
  }

  // Specific: checkbox and radio
  [type='checkbox'] {
    @include form-checkbox-radio;
    @include form-checkbox;
  }
  [type='radio'] {
    @include form-checkbox-radio;
    @include form-radio;
  }

  // Specific: file upload
  [type='file'] {
    @include form-file;
  }

}
